---
layout: default
title: Home
notitle: true

# groups of columns of {roles: list, width: num, image: bool}
role-tables:
- - roles: [faculty]
    width: 4
    image: true
  - roles: [researcher, grad]
    width: 8
    image: true


---

<div class="jumbotron">
    <p>
        The <b>Mila COVID-19 Taskforce</b> is a collaboration between researchers to answer COVID-19 research questions
        via data-driven methods. Our team is composed of members from the Université de Montréal, Yale University and
        McGill University. Participating research laboratories include <a href="https://mila.quebec/en/">Mila</a>,
        <a href="https://www.krishnaswamylab.org/">Krishnaswamy Lab</a>, <a href="https://mhi-omics.org/">MHI-omics</a>,
        <a href="https://microbiologie.umontreal.ca/en/professeurs-chercheurs/daniel-kaufmann/">Kaufmann Lab</a>,
        <a href="https://morgancraiglab.com/about">Quantitative and Translational Medicine Laboratory</a>, and
        <a href="https://www.therealsmithlab.com/">Smith Lab</a>.
    </p>
</div>

<section>
    <h2>News</h2>
    <ul class="news list-unstyled">
        {% for post in site.posts limit: site.front_page_news %}
            {% include news-item.html item=post %}
        {% endfor %}
    </ul>
    {% assign numposts = site.posts | size %}
    {% if numposts >= 1 %}
        <p>
            <span class="fa fa-fw fa-history"></span>
            <a href="{{ site.base }}/blog.html">Older posts&hellip;</a>
        </p>
    {% endif %}
</section>

<!--<section>-->
<!--    <h2>Research</h2>-->
<!--    <div class="card-columns">-->
<!--        {% comment %}-->
<!--        Sort the projects by date, putting those without dates last-->
<!--        {% endcomment %}-->
<!--        {% assign projects_by_date = site.projects | sort: 'last-updated', 'first' %}-->
<!--        {% assign projects_by_date = projects_by_date | reverse %}-->
<!--        {% for p in projects_by_date %}-->
<!--            {% if p.status != "inactive" %}-->
<!--                {% include project-card.html project=p %}-->
<!--            {% endif %}-->
<!--        {% endfor %}-->
<!--    </div>-->
<!--</section>-->

<div id="people">
    <h2>People</h2>
    {% for role-table in page.role-tables %}
        <section class="people row justify-content-between">
            {% for role-column in role-table %}
                <div class="col-md-{{ role-column.width }}">
                    {% for role in role-column.roles %}
                        {% include role-people.html role=role image=role-column.image %}
                    {% endfor %}
                </div>
            {% endfor %}
        </section>
    {% endfor %}
</div>

<div id="pubs">
    <h2>Publications</h2>
    {% include pubs.html %}

</div>


<h2>Affiliations</h2>

<img src="/img/logo_UdeM_large.png" alt="Mila" width="300" hspace="20">
<img src="/img/logo_mcgill.png" alt="Mila" width="300" hspace="20">
<img src="/img/logo_yale.png" alt="Yale" width="300" hspace="20">
<img src="/img/logo_mila_large.png" alt="UdeM" width="300" hspace="20">
<img src="/img/logo_CHUM.png" alt="CHUM" width="300" hspace="20">
<img src="/img/logo_CHUSJ.jpg" alt="CHUSJ" width="300" hspace="20">

