<table class="table">
<tbody>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2022</strong></big><br />
				
				February
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://www.nature.com/articles/s41587-021-01186-x">Multiscale PHATE exploration of SARS-CoV-2 data reveals multimodal signatures of disease</a>.
			</span><br />
			<span class="authors">
				Manik Kuchroo, Jessie Huang, Patrick Wong, Jean-Christophe Grenier, Dennis Shung, Alexander Tong, Carolina Lucas, Jon Klein, Daniel Burkhardt, Scott Gigante, and others.
			</span><br />
			<span class="venuetype"></span><span class="venue">Nature Biotechnology</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2021</strong></big><br />
				
				June
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://journals.plos.org/plosone/article?id=10.1371/journal.pone.0260714">Patient health records and whole viral genomes from an early SARS-CoV-2 outbreak in a Quebec hospital reveal features associated with favorable outcomes</a>.
			</span><br />
			<span class="authors">
				Bastien Par{\'e}, Marieke Rozendaal, Sacha Morin, L{\'e}a Kaufmann, Shawn M Simpson, Rapha{\"e}l Poujol, Fatima Mostefai, Jean-Christophe Grenier, Henry Xing, Miguelle Sanchez, and others.
			</span><br />
			<span class="venuetype"></span><span class="venue">PloS one 16(12)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
</tbody>
</table>
